# Zonal stats by polygons
Medellin Administrative neighborhoods and Origin-Destination areas (SIT zones).

## Libraries

In [1]:
# load libraries

import rasterio
from rasterio.plot import show
from rasterio.plot import show_hist
from rasterstats import zonal_stats
from matplotlib import pyplot
import osmnx as ox
import geopandas as gpd
from geopandas import GeoSeries, GeoDataFrame

## Landsat normalized indexes

In [2]:
# Load neighborhoods
# Medellin's urban area: administrative neighborhoods

nb_pol = gpd.read_file('../Barrio_Vereda/Med_neighborhoods_utm.shp')
nb_pol.head()

,CODIGO,NOMBRE,area_neigh,Id_neigh,geometry
0,1422,La Aguacatala,621794.001,0,"POLYGON ((436250.758566929 684753.1652246107, ..."
1,0810,El Pinal,413220.712,1,"POLYGON ((440086.8269772817 690353.6293147943,..."
2,0719,Fuente Clara,236329.304,2,"POLYGON ((433513.2601061059 694009.4078272607,..."
3,0102,Santo Domingo Savio No.2,264625.437,3,"POLYGON ((440202.7038027243 696660.8769311687,..."
4,0302,Las Granjas,641045.834,4,"POLYGON ((439858.0616223979 694481.7332515356,..."

In [5]:
# Zonal stats by neighborhood - Built-up (NDBI) index
# stats: median, mean, standard deviation

polys = '../Barrio_vereda/Med_neighborhoods_utm.shp'
raster = '../img_landsat/L8_20171218_NDBI.tif'
zs_gjson = zonal_stats(polys, raster, stats=['median','mean','std'], geojson_out=True, prefix='NDBI_', nodata=None)
zs_gdf = GeoDataFrame.from_features(zs_gjson)
zs_gdf.head(5)

,CODIGO,NDBI_mean,NDBI_median,NDBI_std,NOMBRE,OBJECTID,SHAPEAREA,SHAPELEN,SUBTIPO_BA,geometry
0,1422,-0.061641,-0.059033,0.120546,La Aguacatala,661,622090.156105,3302.658052,1,"POLYGON ((436250.758566929 684753.1652246107, ..."
1,0810,0.025576,0.066062,0.143521,El Pinal,662,413416.804617,3271.574553,1,"POLYGON ((440086.8269772817 690353.6293147943,..."
2,0719,-0.129313,-0.126360,0.116149,Fuente Clara,663,236441.173403,3022.337658,1,"POLYGON ((433513.2601061059 694009.4078272607,..."
3,0102,-0.012233,0.019418,0.166808,Santo Domingo Savio No.2,664,264750.452451,2943.707654,1,"POLYGON ((440202.7038027243 696660.8769311687,..."
4,0302,0.067182,0.115265,0.134318,Las Granjas,665,641349.275023,3964.702306,1,"POLYGON ((439858.0616223979 694481.7332515356,..."

In [6]:
# Zonal stats by neighborhood - Vegetation (NDVI) index
# stats: median, mean, standard deviation

polys = zs_gdf
raster = '../img_landsat/L8_20171218_NDVI.tif'
zs_gjson = zonal_stats(polys, raster, stats=['median','mean','std'], geojson_out=True, prefix='NDVI_', nodata=None)
zs_gdf = GeoDataFrame.from_features(zs_gjson)
zs_gdf.head(5)

,CODIGO,NDBI_mean,NDBI_median,NDBI_std,NDVI_mean,NDVI_median,NDVI_std,NOMBRE,OBJECTID,SHAPEAREA,SHAPELEN,SUBTIPO_BA,geometry
0,1422,-0.061641,-0.059033,0.120546,0.406742,0.406593,0.174146,La Aguacatala,661,622090.156105,3302.658052,1,"POLYGON ((436250.758566929 684753.1652246107, ..."
1,0810,0.025576,0.066062,0.143521,0.315704,0.258581,0.180539,El Pinal,662,413416.804617,3271.574553,1,"POLYGON ((440086.8269772817 690353.6293147943,..."
2,0719,-0.129313,-0.126360,0.116149,0.505569,0.496606,0.154554,Fuente Clara,663,236441.173403,3022.337658,1,"POLYGON ((433513.2601061059 694009.4078272607,..."
3,0102,-0.012233,0.019418,0.166808,0.365171,0.307281,0.223552,Santo Domingo Savio No.2,664,264750.452451,2943.707654,1,"POLYGON ((440202.7038027243 696660.8769311687,..."
4,0302,0.067182,0.115265,0.134318,0.263987,0.187264,0.186014,Las Granjas,665,641349.275023,3964.702306,1,"POLYGON ((439858.0616223979 694481.7332515356,..."

In [7]:
# Zonal stats by neighborhood - Water (NDWI) index
# stats: median, mean, standard deviation

polys = zs_gdf
raster = '../img_landsat/L8_20171218_NDWI.tif'
zs_gjson = zonal_stats(polys, raster, stats=['median','mean','std'], geojson_out=True, prefix='NDWI_', nodata=None)
zs_gdf = GeoDataFrame.from_features(zs_gjson)
zs_gdf.head(5)

,CODIGO,NDBI_mean,NDBI_median,NDBI_std,NDVI_mean,NDVI_median,NDVI_std,NDWI_mean,NDWI_median,NDWI_std,NOMBRE,OBJECTID,SHAPEAREA,SHAPELEN,SUBTIPO_BA,geometry
0,1422,-0.061641,-0.059033,0.120546,0.406742,0.406593,0.174146,-0.424861,-0.426885,0.143926,La Aguacatala,661,622090.156105,3302.658052,1,"POLYGON ((436250.758566929 684753.1652246107, ..."
1,0810,0.025576,0.066062,0.143521,0.315704,0.258581,0.180539,-0.354024,-0.311435,0.145653,El Pinal,662,413416.804617,3271.574553,1,"POLYGON ((440086.8269772817 690353.6293147943,..."
2,0719,-0.129313,-0.126360,0.116149,0.505569,0.496606,0.154554,-0.504613,-0.502449,0.124818,Fuente Clara,663,236441.173403,3022.337658,1,"POLYGON ((433513.2601061059 694009.4078272607,..."
3,0102,-0.012233,0.019418,0.166808,0.365171,0.307281,0.223552,-0.382619,-0.335563,0.191990,Santo Domingo Savio No.2,664,264750.452451,2943.707654,1,"POLYGON ((440202.7038027243 696660.8769311687,..."
4,0302,0.067182,0.115265,0.134318,0.263987,0.187264,0.186014,-0.309481,-0.255520,0.153868,Las Granjas,665,641349.275023,3964.702306,1,"POLYGON ((439858.0616223979 694481.7332515356,..."

In [9]:
# select columns with normalized index stats data and key (CODIGO)

NDI_data = zs_gdf[['CODIGO', 'NDBI_mean', 'NDBI_median', 'NDBI_std',
                 'NDVI_mean', 'NDVI_median', 'NDVI_std',
                 'NDWI_mean', 'NDWI_median', 'NDWI_std']]
NDI_data.head()

,CODIGO,NDBI_mean,NDBI_median,NDBI_std,NDVI_mean,NDVI_median,NDVI_std,NDWI_mean,NDWI_median,NDWI_std
0,1422,-0.061641,-0.059033,0.120546,0.406742,0.406593,0.174146,-0.424861,-0.426885,0.143926
1,0810,0.025576,0.066062,0.143521,0.315704,0.258581,0.180539,-0.354024,-0.311435,0.145653
2,0719,-0.129313,-0.126360,0.116149,0.505569,0.496606,0.154554,-0.504613,-0.502449,0.124818
3,0102,-0.012233,0.019418,0.166808,0.365171,0.307281,0.223552,-0.382619,-0.335563,0.191990
4,0302,0.067182,0.115265,0.134318,0.263987,0.187264,0.186014,-0.309481,-0.255520,0.153868

In [10]:
# save to csv file
NDI_data.to_csv('../metrics/Landsat_NDI_data_L8_20171218_neigh.csv')

In [3]:
# Load SIT zones

sit_pol = gpd.read_file('../EOD_2017/SITzones_utm.shp')
sit_pol.head()

,Name,desc2,area_ha,area_sitz,Id_sitz,geometry
0,1,Medellin urbano,26.452,264523.223,1,POLYGON Z ((440198.0956363467 696662.441653464...
1,10,Medellin urbano,6.738,67382.145,10,POLYGON Z ((440107.4059235723 695593.091452291...
2,100,Medellin urbano,41.420,414201.992,100,POLYGON Z ((436736.6011273559 697612.711011434...
3,101,Medellin urbano,39.840,398402.046,101,POLYGON Z ((436453.3456318527 696818.061744227...
4,102,Medellin urbano,28.680,286804.922,102,POLYGON Z ((435786.4762520192 696128.854355976...

In [4]:
# Zonal stats by SIT zones - Built-up (NDBI) index
# stats: median, mean, standard deviation

polys = '../EOD_2017/SITzones_utm.shp'
raster = '../img_landsat/L8_20171218_NDBI.tif'
zs_gjson = zonal_stats(polys, raster, stats=['median','mean','std'], geojson_out=True, prefix='NDBI_', nodata=None)
zs_gdf = GeoDataFrame.from_features(zs_gjson)
zs_gdf.head(5)

,Id_sitz,NDBI_mean,NDBI_median,NDBI_std,Name,area_ha,area_sitz,desc2,geometry
0,1,-0.012848,0.019342,0.166514,1,26.452,264523.223,Medellin urbano,POLYGON Z ((440198.0956363467 696662.441653464...
1,10,0.066851,0.113899,0.112735,10,6.738,67382.145,Medellin urbano,POLYGON Z ((440107.4059235723 695593.091452291...
2,100,0.038258,0.089083,0.137820,100,41.420,414201.992,Medellin urbano,POLYGON Z ((436736.6011273559 697612.711011434...
3,101,0.033627,0.065249,0.110857,101,39.840,398402.046,Medellin urbano,POLYGON Z ((436453.3456318527 696818.061744227...
4,102,0.113776,0.134673,0.081492,102,28.680,286804.922,Medellin urbano,POLYGON Z ((435786.4762520192 696128.854355976...

In [5]:
# Zonal stats by SIT zones - Vegetation (NDVI) index
# stats: median, mean, standard deviation

polys = zs_gdf
raster = '../img_landsat/L8_20171218_NDVI.tif'
zs_gjson = zonal_stats(polys, raster, stats=['median','mean','std'], geojson_out=True, prefix='NDVI_', nodata=None)
zs_gdf = GeoDataFrame.from_features(zs_gjson)
zs_gdf.head(5)

,Id_sitz,NDBI_mean,NDBI_median,NDBI_std,NDVI_mean,NDVI_median,NDVI_std,Name,area_ha,area_sitz,desc2,geometry
0,1,-0.012848,0.019342,0.166514,0.366316,0.308440,0.224162,1,26.452,264523.223,Medellin urbano,POLYGON Z ((440198.0956363467 696662.441653464...
1,10,0.066851,0.113899,0.112735,0.271843,0.211354,0.143790,10,6.738,67382.145,Medellin urbano,POLYGON Z ((440107.4059235723 695593.091452291...
2,100,0.038258,0.089083,0.137820,0.299419,0.213463,0.185991,100,41.420,414201.992,Medellin urbano,POLYGON Z ((436736.6011273559 697612.711011434...
3,101,0.033627,0.065249,0.110857,0.294424,0.246766,0.148870,101,39.840,398402.046,Medellin urbano,POLYGON Z ((436453.3456318527 696818.061744227...
4,102,0.113776,0.134673,0.081492,0.194302,0.158666,0.106254,102,28.680,286804.922,Medellin urbano,POLYGON Z ((435786.4762520192 696128.854355976...

In [6]:
# Zonal stats by SIT zones - Water (NDWI) index
# stats: median, mean, standard deviation

polys = zs_gdf
raster = '../img_landsat/L8_20171218_NDWI.tif'
zs_gjson = zonal_stats(polys, raster, stats=['median','mean','std'], geojson_out=True, prefix='NDWI_', nodata=None)
zs_gdf = GeoDataFrame.from_features(zs_gjson)
zs_gdf.head(5)

,Id_sitz,NDBI_mean,NDBI_median,NDBI_std,NDVI_mean,NDVI_median,NDVI_std,NDWI_mean,NDWI_median,NDWI_std,Name,area_ha,area_sitz,desc2,geometry
0,1,-0.012848,0.019342,0.166514,0.366316,0.308440,0.224162,-0.383228,-0.338396,0.192238,1,26.452,264523.223,Medellin urbano,POLYGON Z ((440198.0956363467 696662.441653464...
1,10,0.066851,0.113899,0.112735,0.271843,0.211354,0.143790,-0.309966,-0.267856,0.118309,10,6.738,67382.145,Medellin urbano,POLYGON Z ((440107.4059235723 695593.091452291...
2,100,0.038258,0.089083,0.137820,0.299419,0.213463,0.185991,-0.340166,-0.278461,0.153979,100,41.420,414201.992,Medellin urbano,POLYGON Z ((436736.6011273559 697612.711011434...
3,101,0.033627,0.065249,0.110857,0.294424,0.246766,0.148870,-0.345228,-0.308061,0.121310,101,39.840,398402.046,Medellin urbano,POLYGON Z ((436453.3456318527 696818.061744227...
4,102,0.113776,0.134673,0.081492,0.194302,0.158666,0.106254,-0.246171,-0.223246,0.085230,102,28.680,286804.922,Medellin urbano,POLYGON Z ((435786.4762520192 696128.854355976...

In [7]:
# select columns with normalized index stats data and key (Id_sitz, Name)

NDI_data = zs_gdf[['Name', 'Id_sitz', 'NDBI_mean', 'NDBI_median', 'NDBI_std',
                 'NDVI_mean', 'NDVI_median', 'NDVI_std',
                 'NDWI_mean', 'NDWI_median', 'NDWI_std']]
NDI_data.head()

,Name,Id_sitz,NDBI_mean,NDBI_median,NDBI_std,NDVI_mean,NDVI_median,NDVI_std,NDWI_mean,NDWI_median,NDWI_std
0,1,1,-0.012848,0.019342,0.166514,0.366316,0.308440,0.224162,-0.383228,-0.338396,0.192238
1,10,10,0.066851,0.113899,0.112735,0.271843,0.211354,0.143790,-0.309966,-0.267856,0.118309
2,100,100,0.038258,0.089083,0.137820,0.299419,0.213463,0.185991,-0.340166,-0.278461,0.153979
3,101,101,0.033627,0.065249,0.110857,0.294424,0.246766,0.148870,-0.345228,-0.308061,0.121310
4,102,102,0.113776,0.134673,0.081492,0.194302,0.158666,0.106254,-0.246171,-0.223246,0.085230

In [8]:
# save to csv file
NDI_data.to_csv('../metrics/Landsat_NDI_data_L8_20171218_SITzones.csv')

## Elevation (SRTM v4.1)

In [10]:
# Zonal stats by neighborhoods - Elevation, Slope, TPI and TRI
# stats: median, mean, standard deviation

polys = '../Barrio_vereda/Med_neighborhoods_utm.shp'
raster = '../SRTM_DEM/srtm_21_11_utm.tif'
zs_gjson = zonal_stats(polys, raster, stats=['median','mean','std'], geojson_out=True, prefix='Elevation_', nodata=None)
zs_gdf = GeoDataFrame.from_features(zs_gjson)

# Slope
polys = zs_gdf
raster = '../SRTM_DEM/srtm_21_11_utm_slope_p.tif'
zs_gjson = zonal_stats(polys, raster, stats=['median','mean','std'], geojson_out=True, prefix='Slope_', nodata=None)
zs_gdf = GeoDataFrame.from_features(zs_gjson)

# TPI
polys = zs_gdf
raster = '../SRTM_DEM/srtm_21_11_utm_TPI.tif'
zs_gjson = zonal_stats(polys, raster, stats=['median','mean','std'], geojson_out=True, prefix='TPI_', nodata=None)
zs_gdf = GeoDataFrame.from_features(zs_gjson)

# TRI
polys = zs_gdf
raster = '../SRTM_DEM/srtm_21_11_utm_TRI.tif'
zs_gjson = zonal_stats(polys, raster, stats=['median','mean','std'], geojson_out=True, prefix='TRI_', nodata=None)
zs_gdf = GeoDataFrame.from_features(zs_gjson)

# preview
zs_gdf.head()

,CODIGO,Elevation_mean,Elevation_median,Elevation_std,Id_neigh,NOMBRE,Slope_mean,Slope_median,Slope_std,TPI_mean,TPI_median,TPI_std,TRI_mean,TRI_median,TRI_std,area_neigh,geometry
0,1422,1518.453333,1515.0,14.129207,0,La Aguacatala,6.373258,6.931402,3.155837,-0.503333,-0.3750,3.099595,5.340000,5.2500,2.102633,621794.001,"POLYGON ((436250.758566929 684753.1652246107, ..."
1,0810,1648.437500,1643.0,57.556460,1,El Pinal,24.711528,24.077848,6.174138,-1.572917,-1.0625,5.038900,17.958333,16.8125,4.632267,413220.712,"POLYGON ((440086.8269772817 690353.6293147943,..."
2,0719,1631.392857,1635.0,36.947201,2,Fuente Clara,29.654728,31.496565,6.615402,-1.955357,-1.4375,5.520074,21.919643,22.8750,4.104143,236329.304,"POLYGON ((433513.2601061059 694009.4078272607,..."
3,0102,1823.363636,1828.0,51.917661,3,Santo Domingo Savio No.2,30.230574,29.746017,5.134847,-3.723485,-2.3750,10.579549,23.867424,22.5000,4.974265,264625.437,"POLYGON ((440202.7038027243 696660.8769311687,..."
4,0302,1709.837838,1715.5,58.268490,4,Las Granjas,24.201498,22.062561,10.575970,-1.217905,-1.2500,5.395509,17.768581,16.1250,7.220399,641045.834,"POLYGON ((439858.0616223979 694481.7332515356,..."

In [11]:
# select columns with neighborhood stats data and key (CODIGO)

Terrain_data = zs_gdf[['CODIGO', 'Elevation_mean', 'Elevation_median', 'Elevation_std',
                 'Slope_mean', 'Slope_median', 'Slope_std',
                 'TPI_mean', 'TPI_median', 'TPI_std',
                 'TRI_mean', 'TRI_median', 'TRI_std']]

# save to csv file
Terrain_data.to_csv('../metrics/3_SRTM_Terrain_data_neigh.csv')

In [12]:
# Zonal stats by SIT zones - Elevation, Slope, TPI and TRI
# stats: median, mean, standard deviation

polys = '../EOD_2017/SITzones_utm.shp'
raster = '../SRTM_DEM/srtm_21_11_utm.tif'
zs_gjson = zonal_stats(polys, raster, stats=['median','mean','std'], geojson_out=True, prefix='Elevation_', nodata=None)
zs_gdf = GeoDataFrame.from_features(zs_gjson)

# Slope
polys = zs_gdf
raster = '../SRTM_DEM/srtm_21_11_utm_slope_p.tif'
zs_gjson = zonal_stats(polys, raster, stats=['median','mean','std'], geojson_out=True, prefix='Slope_', nodata=None)
zs_gdf = GeoDataFrame.from_features(zs_gjson)

# TPI
polys = zs_gdf
raster = '../SRTM_DEM/srtm_21_11_utm_TPI.tif'
zs_gjson = zonal_stats(polys, raster, stats=['median','mean','std'], geojson_out=True, prefix='TPI_', nodata=None)
zs_gdf = GeoDataFrame.from_features(zs_gjson)

# TRI
polys = zs_gdf
raster = '../SRTM_DEM/srtm_21_11_utm_TRI.tif'
zs_gjson = zonal_stats(polys, raster, stats=['median','mean','std'], geojson_out=True, prefix='TRI_', nodata=None)
zs_gdf = GeoDataFrame.from_features(zs_gjson)

# preview
zs_gdf.head()

,Elevation_mean,Elevation_median,Elevation_std,Id_sitz,Name,Slope_mean,Slope_median,Slope_std,TPI_mean,TPI_median,TPI_std,TRI_mean,TRI_median,TRI_std,area_ha,area_sitz,desc2,geometry
0,1823.363636,1828.0,51.917661,1,1,30.230574,29.746017,5.134847,-3.723485,-2.375,10.579549,23.867424,22.5000,4.974265,26.452,264523.223,Medellin urbano,POLYGON Z ((440198.0956363467 696662.441653464...
1,1870.857143,1876.0,19.253412,10,10,39.084486,38.074757,4.554109,-2.178571,-1.125,6.222388,28.178571,27.8750,3.458205,6.738,67382.145,Medellin urbano,POLYGON Z ((440107.4059235723 695593.091452291...
2,1671.037736,1670.0,20.587560,100,100,14.334516,13.525406,2.902584,-0.240566,-0.125,3.251619,10.471698,10.0000,1.982923,41.420,414201.992,Medellin urbano,POLYGON Z ((436736.6011273559 697612.711011434...
3,1691.869565,1690.0,31.750802,101,101,17.092730,17.494822,5.166884,-0.573370,-0.625,3.174026,12.508152,12.7500,3.749584,39.840,398402.046,Medellin urbano,POLYGON Z ((436453.3456318527 696818.061744227...
4,1671.176471,1668.5,24.721354,102,102,18.216786,18.200727,2.354329,-0.172794,0.500,3.767608,13.165441,13.3125,1.545487,28.680,286804.922,Medellin urbano,POLYGON Z ((435786.4762520192 696128.854355976...

In [13]:
# select columns with normalized index stats data and key (Id_sitz, Name)

Terrain_data = zs_gdf[['Name', 'Id_sitz', 'Elevation_mean', 'Elevation_median', 'Elevation_std',
                 'Slope_mean', 'Slope_median', 'Slope_std',
                 'TPI_mean', 'TPI_median', 'TPI_std',
                 'TRI_mean', 'TRI_median', 'TRI_std']]

# save to csv file
Terrain_data.to_csv('../metrics/4_SRTM_Terrain_data_SITzones.csv')

## Population counts and density from GHS POP 2015

In [15]:
# Zonal stats by neighborhoods - GHSL population counts
# stats: sum, mean, standard deviation

polys = '../Barrio_vereda/Med_neighborhoods_utm.shp'
raster = '../GHSL_POP/GHS_POP_GPW42015_utm.tif'
zs_gjson = zonal_stats(polys, raster, stats=['sum','mean'], geojson_out=True, prefix='GHS_POP2015_', nodata=None)
zs_gdf = GeoDataFrame.from_features(zs_gjson)

# Population density by square kilometer
zs_gdf['GHS_POP2015_dens'] = (zs_gdf['GHS_POP2015_sum'] /(zs_gdf['area_neigh']/1000000.0))

# preview
zs_gdf.head()

,CODIGO,GHS_POP2015_mean,GHS_POP2015_sum,Id_neigh,NOMBRE,area_neigh,geometry,GHS_POP2015_dens
0,1422,1474.743945,14747.439453,0,La Aguacatala,621794.001,"POLYGON ((436250.758566929 684753.1652246107, ...",23717.564707
1,0810,1138.169067,4552.676270,1,El Pinal,413220.712,"POLYGON ((440086.8269772817 690353.6293147943,...",11017.541322
2,0719,881.970703,2645.912109,2,Fuente Clara,236329.304,"POLYGON ((433513.2601061059 694009.4078272607,...",11195.869766
3,0102,1532.960938,6131.843750,3,Santo Domingo Savio No.2,264625.437,"POLYGON ((440202.7038027243 696660.8769311687,...",23171.785069
4,0302,714.313260,6428.819336,4,Las Granjas,641045.834,"POLYGON ((439858.0616223979 694481.7332515356,...",10028.642251

In [16]:
# select columns with GHS Pop counts stats data and key (CODIGO)

Pop_data = zs_gdf[['CODIGO', 'GHS_POP2015_mean', 'GHS_POP2015_sum', 'GHS_POP2015_dens']]

# save to csv file
Pop_data.to_csv('../metrics/5_GHS_POP2015_data_neigh.csv')

In [17]:
# Zonal stats by SIT zones - GHSL population counts
# stats: sum, mean, density

polys = '../EOD_2017/SITzones_utm.shp'
raster = '../GHSL_POP/GHS_POP_GPW42015_utm.tif'
zs_gjson = zonal_stats(polys, raster, stats=['sum','mean'], geojson_out=True, prefix='GHS_POP2015_', nodata=None)
zs_gdf = GeoDataFrame.from_features(zs_gjson)

# Population density by square kilometer
zs_gdf['GHS_POP2015_dens'] = (zs_gdf['GHS_POP2015_sum'] /(zs_gdf['area_sitz']/1000000.0))

# preview
zs_gdf.head()

,GHS_POP2015_mean,GHS_POP2015_sum,Id_sitz,Name,area_ha,area_sitz,desc2,geometry,GHS_POP2015_dens
0,1532.960938,6131.843750,1,1,26.452,264523.223,Medellin urbano,POLYGON Z ((440198.0956363467 696662.441653464...,23180.738842
1,1545.444336,1545.444336,10,10,6.738,67382.145,Medellin urbano,POLYGON Z ((440107.4059235723 695593.091452291...,22935.517056
2,1514.736886,10603.158203,100,100,41.420,414201.992,Medellin urbano,POLYGON Z ((436736.6011273559 697612.711011434...,25599.003404
3,1443.205241,8659.231445,101,101,39.840,398402.046,Medellin urbano,POLYGON Z ((436453.3456318527 696818.061744227...,21734.907068
4,302.315039,1511.575195,102,102,28.680,286804.922,Medellin urbano,POLYGON Z ((435786.4762520192 696128.854355976...,5270.394890

In [18]:
# select columns with GHS Pop counts stats data and key (Id_sitz, Name)

Pop_data = zs_gdf[['Id_sitz', 'Name', 'GHS_POP2015_mean', 'GHS_POP2015_sum', 'GHS_POP2015_dens']]

# save to csv file
Pop_data.to_csv('../metrics/6_GHS_POP2015_data_SITzones.csv')

### Note:
Some small polygons with missing data due to the fact that they are so small that do not cover more than a GHS pixel (250 meters side).